<div>
  <div>
    <h1>
      League #<%= @the_league.id %> details
    </h1>

    <div>
      <div>
        <a href="/leagues">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_league/<%= @the_league.id %>">
          Delete league
        </a>
      </div>

      <button>
        Join League
      </button>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_league.name %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_league.image %>">
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_league.description %>
      </dd>

      <dt>
        Game
      </dt>
      <dd>
        <%= @the_league.game %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <% owner_name = User.where({:id => @the_league.owner_id}).first %>
        <%= owner_name.first_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_league.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_league.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit league
    </h2>

    <form action="/modify_league/<%= @the_league.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_league.name %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_league.image %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_league.description %>">
      </div>

      <div>
        <label for="game_box">
          Game
        </label>

        <input type="text" id="game_box" name="query_game" value="<%= @the_league.game %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_league.owner_id %>">
      </div>

      <button>
        Update league
      </button>
    </form>
  </div>
</div>

<hr>
