<div>
  <div>
    <h1>
      List of all competitions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new competition
    </h2>

    <form action="/insert_competition" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="submissions_box">
          Submissions
        </label>

        <input type="text" id="submissions_box" name="query_submissions">
      </div>

      <div>
        <label for="league_id_box">
          League
        </label>

        <input type="text" id="league_id_box" name="query_league_id">
      </div>

      <button>
        Create competition
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Submissions
        </th>

        <th>
          League
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_competitions.each do |a_competition| %>
      <tr>
        <td>
          <%= a_competition.id %>
        </td>

        <td>
          <%= a_competition.name %>
        </td>

        <td>
          <%= a_competition.submissions %>
        </td>

        <td>
          <%= a_competition.league_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_competition.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_competition.updated_at) %> ago
        </td>

        <td>
          <a href="/competitions/<%= a_competition.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
